@import 'header/header.css';
@import 'middle/middlepage.css';
@import 'bottom/bottom.css';
@import './middle/agenda/slider.css';
@import '../transport/css/middle/acces_rapide.css';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    overflow-x:hidden;
}

html{
    scroll-behavior: smooth;
}


