.acces-rapide {
    flex: 1; /* Prend la moitié de l'espace disponible */
    margin-left: 2%;
    margin-top: 2%;
    padding: 20px;
    border: 1px solid #ddd;
    height: 80%;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ajoute de l'ombre */
}
h3 {
    margin-bottom: 20px;
    margin-left: 20px; 
}
.btn-carre {
    background-color: #ECECEC;
    border-radius: 0; /* Désactivez les coins arrondis */
    margin-left: 0;
    border: none;
    opacity: 0; /* Rend les boutons invisibles */
    width: 100px;
}
.btn-carre i {
    color: #00494A;
    margin-right: 10px; /* Espacement entre l'icône et le texte */
}
.btn-carre:hover {
    background-color: #5174C8;
}
.texte-vert {
    color: #00494A;
}
.image-avec-texte {
    flex: 4; /* Prend la moitié de l'espace disponible */
    text-align: center;
}
.conteneur {
    margin-top: 100px;
    display: flex; /* Utiliser la mise en page flexbox pour diviser en deux colonnes */
    gap: 20px; /* Espacement entre les deux colonnes */
    /*height: 699px;*/
}
.conteneur1{
    width: 420px;
    height: 620px;
}
